In [2]:
import pandas as pd

In [3]:
df1 = pd.read_excel('1.xlsx')
df2 = pd.read_excel('2.xlsx')
df3 = pd.read_excel('3.xlsx')
df4 = pd.read_excel('4.xlsx')

In [4]:
df3.head()

          日期             单品编码  批发价格(元/千克)
0 2020-07-01  102900005115762        3.88
1 2020-07-01  102900005115779        6.72
2 2020-07-01  102900005115786        3.19
3 2020-07-01  102900005115793        9.24
4 2020-07-01  102900005115823        7.03

In [5]:
# 提取第一个表中的 "单品编码"、"单品名称" 和 "分类名称" 列
df1_subset = df1[['单品编码', '单品名称', '分类名称']]

# 使用 merge 函数将两个表根据 "单品编码" 列合并
merged_df = df2.merge(df1_subset, left_on='单品编码', right_on='单品编码', how='left')

# 打印合并后的结果
print(merged_df)

             销售日期        扫码销售时间             单品编码  销量(千克)  销售单价(元/千克) 销售类型  \
0      2020-07-01  09:15:07.924  102900005117056   0.396         7.6   销售
1      2020-07-01  09:17:27.295  102900005115960   0.849         3.2   销售
2      2020-07-01  09:17:33.905  102900005117056   0.409         7.6   销售
3      2020-07-01  09:19:45.450  102900005115823   0.421        10.0   销售
4      2020-07-01  09:20:23.686  102900005115908   0.539         8.0   销售
...           ...           ...              ...     ...         ...  ...
878498 2023-06-30  21:35:13.264  102900005115250   0.284        24.0   销售
878499 2023-06-30  21:35:14.358  102900011022764   0.669        12.0   销售
878500 2023-06-30  21:35:20.264  102900005115250   0.125        24.0   销售
878501 2023-06-30  21:35:21.509  102900011016701   0.252         5.2   销售
878502 2023-06-30  21:40:48.248  102900011022764   0.803        12.0   销售

       是否打折销售     单品名称 分类名称
0           否  泡泡椒(精品)  辣椒类
1           否      大白菜  花叶类
2           否  泡泡椒(精品)  辣椒类
3           否      上海青  花叶类
4           否       菜心  花叶类
...       ...      ...  ...
878498      否  西峡花菇(1)  食用菌
878499      否      长线茄   茄类
878500      否  西峡花菇(1)  食用菌
878501      否  芜湖青椒(1)  辣椒类
878502      否      长线茄   茄类

[878503 rows x 9 columns]

In [ ]:
merged_df.to_excel('Result.xlsx', index=False)